.spacesection {
    padding: 20px;
}
.introduction {
    padding: 120px;
}
.cardsec {
    text-align: center;
}
#logocards {
    text-align: left;
}
#logoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
}
#cardshadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logoPng {
    max-width: 45vw;
    margin-right: 5%;
}

.introText {
    font-size: 3vw;
    font-family: '"Archivo Black", sans-serif'
}